/* 
---------------- Navbar Component -----------------
*/


/* MDB Navbar Starts */
.right{
    margin-left: auto;
}
.nav-option{
    font-family: 'Lexend Deca', sans-serif;
}
strong#nav-brand{
    letter-spacing: 0.05em;
    font-family: 'Anton', sans-serif;
}
/* MDB Navbar Ends */

/* MDB Carousel Captions Starts */
.caption-header{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 70px;
    letter-spacing: -0.01em;
}
.caption-sub-header{

}
.caption-content{

}
.guide-h{
    font-size: 80px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
}
/* MDB Carousel Captions Ends */

/*
------------ Jumbotron Component ----------
*/

/* MDB Jumbotron Caption Starts */
.j-header{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 60px;
}
.j-content{
    font-family: 'Montserrat', sans-serif;
}


/* MDB Jumbotron Caption Ends */

/*
------------ Features Component ----------- 
*/
/* MDB Features Starts */
.f-header{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 60px;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 4%;
}
/* MDB Features Ends */

/*
-----------FeaturedItems Component --------
*/
/* FeaturedItems Starts  */
.fi-header{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 60px;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 1%;
}
.fi-med-header{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 40px;
    text-transform: uppercase;
}
.item-header{
    font-family: 'Roboto', sans-serif;
}
/* FeaturedItems Ends */