/* 
---------------- Navbar Component -----------------
*/


/* MDB Navbar Starts */
    .right{
        margin-left: auto;
    }
    .nav-option{
    font-family: 'Lexend Deca', sans-serif;
}
strong#nav-brand{
    letter-spacing: 0.05em;
    font-family: 'Anton', sans-serif;
}
/* MDB Navbar Ends */

/* MDB Carousel Captions Starts */
.caption-header{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 70px;
    letter-spacing: -0.01em;
}
.caption-header-2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 70px;
    letter-spacing: -0.01em;
}
.caption-header-3{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 70px;
    letter-spacing: -0.01em;
}
.guide-h{
    font-size: 80px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
}
/* ===== Media Query ===== */
@media only screen and (max-width: 600px) {
    .caption-header{
        font-size: 50px;
    }
    .caption-header-2{
        font-size: 40px;
    }
    .caption-header-3{
        font-size: 30px;
    }
    .guide-h{
        font-size: 50px;
    }   
}

/* MDB Carousel Captions Ends */

/*
------------ Jumbotron Component ----------
*/

/* MDB Jumbotron Caption Starts */
.j-header{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 60px;
}
.j-content{
    font-family: 'Montserrat', sans-serif;
}


/* MDB Jumbotron Caption Ends */

/*
------------ Features Component ----------- 
*/
/* MDB Features Starts */
.f-header{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 60px;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 4%;
}
.f-dev-container{
    width:100%;
    height:120%;
}
.f-dev-sub-hdr{
    font-size: 14px;
}
/* MDB Features Ends */

/*
-----------FeaturedItems Component --------
*/
/* FeaturedItems Starts  */
.fi-header{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 60px;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 1%;
}
.fi-med-header{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 40px;
    text-transform: uppercase;
}
.item-header{
    font-family: 'Roboto', sans-serif;
}
/* FeaturedItems Ends */

/* 
------------- About Section Starts ----------
*/

/* About Component Starts */
.about-mtmb{
    margin-top: 5%;
    margin-bottom: 5%;
}
.a-header{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 60px;
    text-transform: uppercase;
    text-align: center;
}
.a-content{
    text-justify: auto;
    margin-top: 2%;
}
/* ========== Media Query ======== */
@media only screen and (max-width: 600px) {
    .a-header{
        font-size: 40px;
    }
}

/* About Component Ends */

/* Team Component Starts */
.team-container{
    margin-top: 5%;
    margin-bottom: 5%;
}
.t-header{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 60px;
    text-align: center;
}
.t-head{
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    text-align: center;
}
.t-subh{
    font-family: 'Montserrat', sans-serif;
    margin-top: -5%;
    font-size: 10px;
    text-align: center;
}
.align-center{
    margin-top: -5%;
    text-align: center;
}
.t-icon{
    padding: 10px;
}

/* Team Component Ends */

/* ProjectTools Component Starts */
.pt-header{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 60px;
    text-align: center;
}
/* ProjectTools Component Ends */

/* Use Component Starts */
.u-header{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 60px;
    text-align: center;
}
.u-header-sub{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 35px;
}
.use-container{
    margin-top: 5%;
    margin-bottom: 5%;
}
.use-inst{
    font-family: 'Montserrat', sans-serif;

}
/* Use Component Ends */
/*
---------------- ContactComponent -------------
*/

/* Contact Component Starts */
.c-header{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}
.margin-fix{
    margin-top: 2%;
    margin-bottom: 10%;
}
.phone-size{
    width: 260px ;
    height: 260px ;
    margin-top: 20%;
    margin-left: 10%;
}
/* Contact Component Ends */

/* Company Component Starts */
.comp-header{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    text-align: center;
    font-size: 60px;
    margin-top: 8%;
    margin-bottom: 5%;
}
.comp-header-sub{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 40px;
}
.comp-content{
    margin-top: 2%;
    margin-left: 10%;
}
.comp-header-c{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;  
    margin-top: 12%;
    margin-left: 10%;
}
.hr-comp{
    border-left: 8px solid #0099CC;

}
.comp-email{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;  
    margin-left: 10%;
    color:black;
    text-decoration: none;
}
.comp-email:hover{
    text-decoration: none;
}
.comp-social{
    font-family: 'Montserrat', sans-serif; 
    margin-left: 10%;
    margin-top: 3%;
}
.social-icons{
    margin-top: 1%;
}

/* Company Component Ends */

/* Breadcrumb Component Starts */
.bcrumbs-size{
    margin-top: 0%;
    margin-bottom: 0%;
}
.img-bread{
    height: 100%;
}
.brc-img{
    background-image: url('./img/bcrumbs-bg.jpg');
    height: 100%;
    width:  100%;
}
.brc-content{
    margin-top: 10%;
    margin-bottom: auto;
}
.brc-ins-cont{
    margin-bottom: 5%;
}
.brc-header{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold; 
    font-size: 50px;
}
.brc-bread-link{
    
}
/* Breadcrumb Component Ends */

/* Login Component Starts */
.l-container{
    margin-top: 10%;
    margin-bottom: 10%;
}
.login-header-container{

}
.login-d-header{
    color: #33b5e5;
    font-size: 100px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold; 
    text-transform: uppercase;
}
.login-d-content{
    font-family: 'Montserrat', sans-serif;
    font-weight: light; 
}
.login-bbn-f{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 20px;
    width: 100%;
    height: 50px;
}
.login-pass-forgot{
    color: grey;
    float: right;
    padding: 10px;
    margin-top: -5%;
}
.login-pass-forgot:hover{
    text-decoration: none;
}
.icon-m{
    margin-right: 2%;
}
/* Login Component Ends */

/* Register Component Starts */
.register-d-header{
    color: #00C851;
    font-size: 100px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold; 
    text-transform: uppercase;
}
.register-d-content{
    font-family: 'Montserrat', sans-serif;
    font-weight: light; 
}
/* Register Component Ends */

/*
------------- Medicines Shop Component ---------
*/

/* Medicines Component Starts */
.otc-header{
    font-size: 90px;
    text-transform: uppercase;
}
.med-container{
    margin-top: 10%;
    margin-bottom: 10%;
}
.med-otc-h{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold; 
    font-size: 50px;
    margin-bottom: 5%;
}
.med-otc-h-2{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold; 
    font-size: 50px;
    margin-bottom: 5%;
    margin-top: 5%;
}
.med-item-header{
    font-family: 'Roboto', sans-serif;
    font-style: bold;
    font-size: 30px;
    text-align: center;
}
.med-sub-h{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}
.prizeandlogo-container{
    margin-top: -5%;
}
.med-content-container{
    margin-top: -5%;
}
.med-price{
    font-family: 'Roboto', sans-serif;
    font-size:20px;   
}
.icon-ph-flag{
    width: 10%;
    height: 10%;
    margin-top: -2%;
}
.meds-card-link{
    color: black;
}
.meds-card-link:hover{
    text-decoration: none;
    color: black;
}
.search-container{
    margin-left: 23%;
    margin-right: auto;
}
.search-component{
    margin-bottom: 5%;
}
/* Medicines Component Ends */

/* Medicine Item Component Starts */
.section-medicine-item{
    margin-top: 10%;
    margin-bottom: 10%;
}
.med-item-name{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold; 
    font-size: 50px;
}
.med-prod-info{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold; 
    font-size: 30px;
    margin-top: 10%;
}
.med-prod-info-2{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold; 
    font-size: 30px;
    margin-top: 5%;
}
.med-option-container{
    margin-top: 2%;
    margin-left: 32%;
    height: 15%;
    width:15%;
}
.med-option-container-2{
    margin-top: 2%;
    margin-left: 2%;
    height: 15%;
    width:15%;
}
.btn-cart{
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    font-style: bold;
    width:90%; 
}
/* Medicine Item Component Ends */